// Colors
$color-primary: #0BA1CC; // #0B3FB5
$color-primary-light: #C7C7C7;
$color-accent: #5E5E5E; // #0B3FB5
$color-text: #333;


// Grid
$max-container-width: 1060px;


// Breakpoints
$breakpoint-sm: 450px;
$breakpoint-md: 700px;
$breakpoint-lg: 1000px;
$breakpoint-xl: 1200px;